
/* il faut ajouter cette importation pour utiliser les fonction de angular material*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; 

:root{
    --of-white: #fffff2;
}

body {
    background-color: var(--of-white);
}

.basic-container {
    padding: 30px; /*basic -container est une classe dans app.component.html */
}

.mat-figure:hover {
    background: rgba(0,0,0,0.2); /* lorsqu'on met la souris sur l'image l'image aura un effet gris */
}

.mat-app-background {
    background-color: var(--white-of); /* on modifie le backgroud */
}